<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="MiBioSoft">
	<link rel="shortcut icon" href="/static/images/protocat.ico" />

	<title>{{ title }}</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Bootstrap core js for collapsibles -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- for the favicon -->
	<link rel="shortcut icon" href="/static/images/protocat.ico" />

	<title>{{ title }}</title>

	<!-- Jquery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

	<!-- Global js -->
	<script src= "/static/js/main.js"></script>
	<script src= "/static/js/smoothscroll.js"></script>
	<!-- If you want to add other js files, add it in the specific html page-->
</head>

<body>
	<div id="sidebar">
		<body data-spy="scroll" data-offset="0" data-target="#navigation">
			<!-- Fixed navbar -->
			<div id="navigation" class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><b>ProtoCat</b></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/protocol_list" class="smoothscroll">Protocols</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if not user.is_authenticated %}
								<li><a href="/user_registration" class="smoothscroll">Sign up</a></li>
								<li><a href="/user_authentication" class="smoothScroll">Login</a></li>
							{% else %}
								<li><a href="/protocol_upload">Upload</a></li>
								<li><a href="/user_home" class="smoothscroll">Home</a></li>
								<li><a href="/user_logout" class="smoothscroll">Log out</a></li>
							{% endif %}
							<li><a href="/about" class="smoothScroll">About</a></li>
							<li><a href="/feedback" class="smoothScroll">Feedback</a></li>
							<li class="search_box">
								<div class="input-group input-group-lg">
									<form class="form-search" method="GET" action="/search/">
										<input type="text" name="search" class="form-control" placeholder="Search ProtoCat" style="color:black">
										{% csrf_token %}
									</form>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</body>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
