<style>
.description {
	color: #777!important;
}

.description > p{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.username {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.protocol-profile-image-container {
	display: inline-block;
    position: relative;
    width: 100%;
}
.dummy {
	margin-top: 100%;
}
.protocol-profile-image {
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
}


.star {
	margin-left: 1.5px !important;
	margin-right: 1.5px !important;
}
.star > i {
	font-size: 14px;
}
.left-side-ratings {
	margin-top:-15px;
	height:40px;
}
.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 2.856em;
}

.panel-group{
	padding-left: 0;
	padding-right: 0;
}

.panel{
	background-color: #f5f5f5;
}

.panel-heading{
	padding-top: 0;
	padding-bottom: 0;
}

.panel-collapse{
	background-color: #fff;
}

.panel-heading a{
	color: inherit;
	text-decoration: none;
}

.panel-heading a:hover{
	color: inherit;
	text-decoration: none;
}

.panel-heading a:visited{
	color: inherit;
	text-decoration: none;
}

.panel-heading a:active{
	color: inherit;
	text-decoration: none;
}

.filt_btn{
	margin-top:15px;
}
.keep-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.bootstrap-switch {
	display: block;
	margin: 0 auto;
}
</style>

<div class="col-sm-6">
	{% if isAdmin %}
	<form style="display: inline-block;" method="POST", action="/deleteorganizationprotocol/" id="org_form">
		{% csrf_token %}
		<select name="organization_id">
				<option value="{{org.id}}">{{org.name}}</option>
		</select>
		<input type="hidden" value = "{{protocol.id}}" name="protocol_id">
		<input type="submit" class="btn btn-primary btn-xs" value="Delete from Organization">
	</form>
	{% endif %}
	<div class="well well-sm protocol_div" onclick="location.href='/protocol/{{ protocol.id }}/'">
		<div class="row">
			<div class="col-sm-7 fix-margin-left">
				<h3 class="title">{{ protocol.title }}</h3>
				<h5 class="visible-xs"> Uploaded by <a class="username" href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a></h5>
				<h5>Uploaded on {{ protocol.upload_date|date:'m/d/Y P' }}</h5>
				{% if protocol.get_average_ratings == "N/A" %}
				<h5 class="visible-xs">Be the first to rate this</h5>
				{% else %}
				<form role="search" method="POST" action="/ratings/" class="center-block left-side-ratings form-inline visible-xs">
					<input id="input-2" name="input-2" value="{{ protocol.get_average_ratings }}" class="rating-loading input-2"data-size="xs" data-display-only="true">
					<input id="id" name='id' type="hidden" value="{{protocol.id}}">
					<label style="position:relative;top:-27px;left:87px"> - {{ protocol.get_number_ratings }} ratings</label>
				</form>
				{% endif %}
				<h5>Category: <a href="/browse/{{ protocol.category.id }}">{{ protocol.category }}</a></h5>
				<div class="text-muted max-lines description"> {{ protocol.description|safe }} </div>
			</div>
			<div class="col-sm-4 hidden-xs protocol-author-picture fix-margin-top pull-right">
				<div class="protocol-profile-image-container">
					<div class="dummy"></div>
					{% if protocol.author.profile_image != "" %}
					<img src="{{ protocol.author.profile_image.url }}" alt="Image not found" class="img-circle center-block protocol-profile-image"/>
					{% else %}
					<img src="//2014.igem.org/wiki/images/thumb/0/04/ChrisP.jpg/330px-ChrisP.jpg.png" alt="Image not found" class="img-circle center-block protocol-profile-image"/>
					{% endif %}
				</div>
				<h5 style="text-align:center;"><a class="username" href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a></h5>
				{% if protocol.get_average_ratings == "N/A" %}
				<h2 class="small" style="text-align:center;margin-top:0px;height:40px;">Be the first to rate this</h2>
				{% else %}
				<div style="height:40px;padding-top:10px;margin-bottom:10px;">
					<form role="search" method="POST" action="/ratings/" class="center-block" style="margin-top:-15px">
						<input id="input-2" name="input-2" value="{{ protocol.get_average_ratings }}" class="rating-loading input-2" data-size="xs" data-step="1" data-show-caption="false" data-show-clear="false">
						<input id="id" name='id' type="hidden" value="{{protocol.id}}">
						{% csrf_token %}
					</form>
					<h2 class="small" style="text-align:center;margin-top:0px;">{{ protocol.get_number_ratings }} ratings</h2>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
