{% extends 'base.html' %}

{% block content %}

<style>
<!-- make the rows of data have the correct mouse cursor -->
tr:hover{
	cursor: hand;
	cursor: pointer;
}
</style>

<!-- allow you to go up a level -->
<div class="col-md-12">
	{% if parent_category %}
	{% if parent_category and parent_category.parent_category %}
	<a href="/browse/{{ parent_category.parent_category.id }}/">Up a level</a>
	{% else %}
	<a href="/browse/">Up a level</a>
	{% endif %}
	{% endif %}
</div>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Category List</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
				<!-- make the rows of data all clickable -->
				<tr onclick="location.href='/browse/{{ category.id }}/'">
					<td><a href="/browse/{{ category.id }}/">{{ category.title }}</a></td>
					<td>{{ category.author }}</td>
					<td>{{ category.description }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-12" >
	<div class="panel panel-primary">
		<div class="panel-heading">Protocol List</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Description</th>
					<th>Upload Date</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				{% for protocol in protocols %}
				<tr onclick="location.href='/protocol/{{ protocol.id }}/'">
					<td><a href="/protocol/{{ protocol.id }}/">{{ protocol.title }}</a></td>
					<td>{{ protocol.author }}</td>
					<td>{{ protocol.description }}</td>
					<td>{{ protocol.upload_date }}</td>
					<td>{{ protocol.get_average_ratings }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
