{% extends 'base.html' %}

{% block content %}
<style>
	.category_title {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: inline-block;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.category_expander {
		float: right;
		font-size: 14pt;
		transition: all 500ms ease-in-out;
	}
	.description_container {
		line-height: 1em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		transition: all 500ms ease-in-out;
		position: absolute;
		transform: rotateX(90deg);
		transform-origin: top;
		perspective: 1000px;
	}
	.category {
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
	}
	.category_item {
		white-space: nowrap;
	}
	#current_category > h3 {
		margin-top: 10px;
	}
</style>


<a href="#" id="template" data-target="" class="list-group-item category_item" style="display: none; cursor: pointer;">
	<h4 class="list-group-item-heading">Heading</h4>
	<p class="list-group-item-text">Text</p>
</a>

<script>
	var current_category_id = "";
	var current_parent_id = "";
	var current_title = "";
	var current_description = "";
	$(document).on('ready', function() {
		$('#add-category').on('click', function() {
			$('#add-category-modal').modal('show');
		});
		$('#edit-category').on('click', function() {
			$('#edit-category-modal').find('[name="title"]').val(current_title);
    		$('#edit-category-modal').find('[name="description"]').val(current_description);
			$('#edit-category-modal').modal('show');
		});
		get_category_children();
	});

	function get_category_children() {
		var url;
		if (current_category_id != "") {
			url = "/api/categorybrowser/?parent_id=" + current_category_id;
		}
		else {
			url = "/api/categorybrowser/";
		}
		
		$.ajax({
			type: 'GET',
			url: url,
			success: function(data) {
				$('#show-categories>div>ul').children().not(':first').remove();
				for (var i = 0; i < data.length; ++i) {
					var new_category = $('#template').clone();
					new_category.find('.list-group-item-heading').html(data[i].title);
					new_category.find('.list-group-item-text').html(data[i].description);
					new_category.attr('data-target', data[i].id);
					new_category.on('click', onCategoryClick);
					new_category.css('display', 'block');
					$("#show-categories>div>ul").append(new_category);
				}
				$.ajax({
					type: 'GET',
					url: "/getcategoryprotocols/" + current_category_id + "/",
					success: function(data) {
						$("#protocols>div").html(data);
						if (current_category_id == "") {
							$("#edit-category").hide();
						}
						else {
							$("#edit-category").show();
						}
					},
					failure: function() {
						alert("Failed");
					}
				});
			},
			failure: function() {
				alert("Failed");
			}
		});
	}

	function onCategoryClick(element) {
		current_category_parent = current_category_id;
		current_category_id = $(this).attr('data-target');
		current_title = $(this).find('h4').html();
		current_description = $(this).find('p').html();
		$('#current_category').children().append('<span> &gt; <a onclick="back_category_click(this)" data-target="' 
			+ $(this).attr('data-target') + '" data-description="' + $(this).find('p').html() + '">' + $(this).find('.list-group-item-heading').html() + '</a></span>');
		get_category_children();
	}

	function back_category_click(element) {
		current_category_parent = current_category_id;
		current_category_id = $(element).attr('data-target');
		current_title = $(this).find('h4').val();
		current_description = $(this).attr('data-description');
		$(element).parent().nextAll().remove();
		get_category_children();
	}
</script>

<div id="categories" class="col-sm-3 col-xs-12">
	<div id="show-categories" class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<a href="#" class="list-group-item active">Categories</a>
			</ul>
		</div>
	</div>
	<div id="edit-categories" class="row">
		<div class="col-sm-12">
			<ul class="list-group">
				<a id="add-category" href="#" class="list-group-item">Add a Category</a>
				<a id="edit-category" href="#" class="list-group-item" style="display: none;">Edit this Category</a>
			</ul>
		</div>
	</div>
</div>

<div id="current_category" class="col-sm-9 col-xs-12">
	<h3>
		<span><a onclick="back_category_click(this)" data-target="">General</a></span>
	</h3>
</div>

<div id="protocols" class="col-sm-9 col-xs-12">
	<div class="row">

	</div>
</div>

{% include 'repeated_parts/add_category.html' %}
{% include 'repeated_parts/edit_category.html' %}
{% endblock %}
