{% extends 'base.html' %} {% block content %}

<script src="/static/js/jquery.panzoom.min.js"></script>
<style>
	.protocolTree ul {
		position: relative;
		padding: 1em 0;
		white-space: nowrap;
		margin: 0 auto;
		text-align: center;
	}

	.protocolTree ul::after {
		content: '';
		display: table;
		clear: both;
	}

	.protocolTree li {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		list-style-type: none;
		position: relative;
		padding: 1em .5em 0 .5em;
	}

	.protocolTree li::before,
	.protocolTree li::after {
		content: '';
		position: absolute;
		top: 0;
		right: 48%;
		border-top: 2px solid #ccc;
		width: 60%;
		height: 1em;
	}

	.protocolTree li::after {
		right: auto;
		left: 48%;
		border-left: 2px solid #ccc;
	}

	.protocolTree li:only-child::after,
	.protocolTree li:only-child::before {
		display: none;
	}

	.protocolTree li:only-child {
		padding-top: 0;
	}

	.protocolTree li:first-child::before,
	.protocolTree li:last-child::after {
		border: 0 none;
	}

	.protocolTree li:last-child::before {
		border-right: 2px solid #ccc;
		border-radius: 0 5px 0 0;
	}

	.protocolTree li:first-child::after {
		border-radius: 5px 0 0 0;
	}

	.protocolTree ul ul::before {
		content: '';
		position: absolute;
		top: 0;
		left: 49.25%;
		border-left: 2px solid #ccc;
		width: 0;
		height: 1em;
	}

	.protocolTree li a {
		text-decoration: none;
		display: inline-block;
		border-radius: 5px;
		color: #666;
		position: relative;
		top: 1px;
	}

	#root {
		height: 90vh;
	}
</style>
<script>
	var protocols = [
		{% for protocol in protocols %}
		{
			title: "{{ protocol.title }}",
			description: "{{ protocol.description }}",
			id: "{{ protocol.id }}",
			parent_id: "{% if protocol.previous_revision != None %}{{ protocol.previous_revision.id }}{% else %}root{% endif %}",
			avg_rating: "{{ protocol.avg_rating }}"
		},
		{% endfor %}
	];
	
	var to_add = [];

	for (var i = 0; i < protocols.length; ++i) {
		if (protocols[i].parent_id == 'root') {
			to_add.push(protocols[i]);
			break;
		}
	}

	function addToMe(data) {
		var newText = Math.round(data.avg_rating * 100) / 100;
		color = "#555"; 
		colorGreen = "#1c6625";
		colorLightGreen = "#39ba49";
		colorRed = "#e82406";
		colorYellow = "#ede912";
		if (newText > 4) {
			color = colorGreen;
		} else if (newText > 3) {
			color = colorLightGreen;
		} else if (newText > 2) {
			color = colorYellow;
		} else if (newText > 0) {
			color = colorRed;
		} 
		newText = "rating: " + newText;  
		$("#" + data.parent_id).children("ul").first()
			.html($("#" + data.parent_id).children("ul").first()
			.html().trim() + '<li id=' + data.id + '><a href="/protocol/' + data.id + '"><svg width="30" height="30"><circle title="' + data.title + '" data-toggle="popover" data-container="body" data-trigger="hover" data-content="' +  newText + '" fill="' + hue + '" r="15" cx="15" cy="15" /></svg></a><ul></ul></li>');
	}

	$(document).on('ready', function () {
		var parent_id;
		while (to_add.length != 0) {
			temp = to_add.pop();
			addToMe(temp);
			parent_id = temp.id;
			for (i = 0; i < protocols.length; ++i) {
				console.log("---------");
				console.log(parent_id);
				console.log(protocols[i].parent_id);
				if (parent_id == protocols[i].parent_id) {
					to_add.push(protocols[i]);
					protocols.splice(i, 1);
				}
			}
		}

		$("#root ul:empty").remove();
		var zoom = $('#root').panzoom({
			transition: true
		});

		zoom.parent().on('mousewheel.focal', function (e) {
			e.preventDefault();
			var delta = e.delta || e.originalEvent.wheelDelta;
			var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
			zoom.panzoom('zoom', zoomOut, {
				increment: 0.1,
				animate: false,
				focal: e
			});
		});




		$('li > a').on("hover", function(e) {
			//e.stopImmediatePropagation();
		});
		$('[data-toggle="popover"]').popover();
	});
</script>
<div id="panZoomContainer">
	<div id="root" class="protocolTree">
		<ul></ul>
	</div>
</div>

{% endblock %}