{% extends 'base.html' %} {% block content %}
<script>
	$(document).ready(function () {
		function handleFileSelect(evt) {
			if (window.File && window.FileReader && window.FileList && window.Blob) {
				console.log("Enabling Submit")
				$('input[id="submit-button"]').prop("disabled", false)
			} else {
				alert('The File APIs are not fully supported in this browser.');
			}
		}

		$('#files').get(0).addEventListener('change', handleFileSelect, false);
	});

	function submit() {
		var form_data = $('#submitForm').serializeArray();
		form_data["Data"] = "tosend";
		form_data["csrfmiddlewaretoken"] = $('input[name="csrfmiddlewaretoken"]').val();
		form_data["protocol_data"] = JSON.stringify(localStorage.getItem("json_input"));
		$.ajax({
			type: "POST",
			url: "/importprotocol/",
			dataType: 'json',
			data: JSON.stringify(form_data),
			success: function () {
				if (data.success) {
					console.log("it worked")
				}
				else {
					alert("Unable to import protocol - please try again.")
				}
			},
			failure: function () {
				alert("Unable to connect to the server - please try again.")
			}
		});
	}

</script>
<style>
	body {
		text-align: center;
	}

	div #submit-box {
		margin-top: 7px;
	}

	.image-dimension {
		height: 300px;
		width: auto;
		background-position: center;
	}

	li {
		text-align: left;
	}

</style>

<h2>Import a protocol from <a href="//www.protocols.io">protocols.io</a></h2>

<form id="submit-form" method="POST" action="/importprotocol/" enctype="multipart/form-data" accept-charset="utf-8">
	{% csrf_token %}
	<label class="btn btn-default btn-file" id="import-button" for="upload-button">
    	<input type="file" id="files" name="files[]" accept=".json, .txt"/>
	</label>
	<div class="col-sm-12" id="submit-box">
		<div id="submit_div" class="row">
			<div style="display: inline-block;">
				<input type="button" id="submit-button" class="form-control" onclick="submit();" value="Import" disabled="true" disabled>
			</div>
		</div>
	</div>
	</form>

	<br/>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" href="#collapseOne">How to Import</a>
					</div>

					<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<ol>
						<li>Navigate to <a href="//www.protocols.io">protocols.io</a>.</li>
						<br/>
						<li>Find the desired protocol. There will be an export option in the site's menu. Select Export as JSON.
							<img class="img-responsive" src="/static/images/HowToImport.png"/>
						</li>
						<br/>
						<li>The protocol will download onto your device. Select <b>Choose File</b> on this page to select the protocol
							from where it was saved.</li>
							<br/>
							<li>Click <b>Import</b> to import to Protocat.</li>
					</ol>
				</div>
			</div>

	</div>


{% endblock %}
