{% extends 'base.html' %} {% block content %}
<script>
    function submit() {
	$('input[name="size"]').val(1);
	var form_data = new FormData();
	form_data.append("Data", "tosend");
	form_data.append("csrfmiddlewaretoken", $('input[name="csrfmiddlewaretoken"]').val());
	$.ajax({
		type: "POST",
		url: "/importprotocol/",
		contentType: false,
		processData: false,
		//data: form_data,
		success: function(){
			if (data.success) {
				console.log("it worked")
			}
			else {
				alert("Unable to import protocol - please try again.")
			}
		},
		failure: function(){
			alert("Unable to connect to the server - please try again.")
		}
	});
}
</script>
<style>
    body {
        text-align: center;
    }

    label #upload-button {
        display: inline-block;
        color: red;
    }
</style>

<h2>Import a protocol from <a href="https://www.protocols.io">protocols.io</a></h2>

<form id="submit-form" method="POST" action="/importprotocol/" enctype="multipart/form-data" accept-charset="utf-8">
	{% csrf_token %}
    <label class="btn btn-default btn-file" for="upload-button">
        Upload File <input id="upload-button" type="file" style="display:none;" onchange="enable_submit();"> 
    </label>
<div class="col-sm-12">
	<div id="submit_div" class="row">
		<div style="display: inline-block;">
			<input type="button" class="form-control" onclick="submit()" value="Upload">
		</div>
	</div>
</div>
</form>
{% endblock %}