{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
	<h1>Welcome to {{title}}!</h1>
	<h3>The open source protocol catalog</h3>
</div>
<br>
<img src = "http://2015.igem.org/wiki/images/7/7f/Team_Michigan_Software_Collaboration.png" width=24% />
<img src = "http://2015.igem.org/wiki/images/1/17/Team_Michigan_Software_arrow.png" width= 15% />
<img src = "http://2015.igem.org/wiki/images/5/5d/Team_Michigan_Software_banner.jpg" width=19% />
<img src = "http://2015.igem.org/wiki/images/1/17/Team_Michigan_Software_arrow.png" width= 15% />
<img src = "http://2015.igem.org/wiki/images/d/d0/Team_Michigan_Software_Celebration.png" width=16% >

<div class="slogan">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Share it
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Try it
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Like it
</div>

{% endblock %}