{% extends 'base.html' %}

{% block content %}

<script>
	var reagents = [];
	var steps = [];
	{% for reagent in protocol_reagents %}
	var single_reagent = {
		"number_in_step": {{ reagent.number_in_step }},
		"scaling_type": {{ reagent.scaling_type }},
		"amount": {{ reagent.amount }},
		"unit": "{{ reagent.unit }}",
		"significant_figures": {{ reagent.significant_figures }},
		"reagent": "{{ reagent.reagent }}",
		"reagent_type": {{ reagent.reagent_type }},
		"protocol_step_number": {{ reagent.protocol_step_number }},
		"reagent_id": {{ reagent.reagent.id }},
	};
	reagents.push(single_reagent);
	{% endfor %}

	{% for protocol_step in protocol_steps %}
	var single_step = {
		"action": '{{ protocol_step.action|safe }}',
		"time": {{ protocol_step.time }},
		"time_scaling": {{ protocol_step.time_scaling }},
		"step_number": {{ protocol_step.step_number }},
	};
	//var javascript_single_reagent = JSON.parse(single_reagent);
	steps.push(single_step);
	{% endfor %}

	var reactants;
	var intermediaries;
	var products;

	var timer_id = [];
	var last_time = [];
	var time_total = [];
	var running = [];
	var count_to = [];
	var update_element = [];

	function multiply_everything(factor) {
		for (var reagent_num in reagents) {
			if (reagents[reagent_num].scaling_type == 3) {
				reagents[reagent_num].amount *= factor;
			}
		}
		reactants = get_list_of_reagent_type(reagents, "1");
		reactants = get_display_reagent_type(reagents, reactants, "1");
		intermediaries = get_list_of_reagent_type(reagents, "2");
		intermediaries = get_display_reagent_type(reagents, intermediaries, "2");
		products = get_list_of_reagent_type(reagents, "3");
		products = get_display_reagent_type(reagents, products, "3");
		for (var i = 1; i < time_total.length; i++) {
			if (steps[i - 1].time_scaling == 2) {
				count_to[i] *= factor;
				if (count_to[i] > time_total[i]) {
					time_total[i] = count_to[i];
				}
				update_element[i].innerHTML = get_time_total(i);
			}
		}
		update_visual_data();
	}

	function get_display_reagent_type(reagents, given_list, type) {
		for (var i in given_list) {
			for (var j in reagents) {
				if (reagents[j].reagent_type == type) {
					if (reagents[j].reagent_id == given_list[i].reagent_id) {
						if (reagents[j].unit == given_list[i].unit) {
							given_list[i].amount += reagents[j].amount;
						}
					}
				}
			}
		}
		return given_list;
	}

	function get_list_of_reagent_type(reagents, type) {
		var result = [];
		for (var reagent_num in reagents) {
			reagent = reagents[reagent_num];
			if (reagent.reagent_type == type) {
				var put_in = true;
				for (var i in result) {
					var temp = result[i];
					if (temp.reagent_id == reagent.reagent_id && temp.unit == reagent.unit) {
						put_in = false;
					}
				}
				if (put_in) {
					new_reagent = JSON.parse(JSON.stringify(reagent));
					new_reagent.amount = 0;
					result.push(new_reagent);
				}
			}
		}
		return result;
	}

	function update_visual_data() {
		$('#steps').children('tr').each(function() {
			// we are in each table row
			$(this).children('td').filter('.action').each(function() {
				step_num = Number($(this).attr('data-step-num'));
				$(this).children('span').filter('.reagent').each(function() {
					reagent_number = Number($(this).attr('data-reagent-number'));
					var correct_reagent = null;
					for (var reagent_num in reagents) {
						reagent = reagents[reagent_num];
						if (reagent.number_in_step == reagent_number && reagent.protocol_step_number == step_num) {
							correct_reagent = reagent;
							break;
						}
					}
					if (correct_reagent != null) {
						this.innerHTML = correct_reagent.amount.toPrecision(correct_reagent.significant_figures) + correct_reagent.unit + " " + correct_reagent.reagent;
					}
					else {
						this.innerHTML = "ERROR";
					}
				});
			});
		});

		reactants = get_list_of_reagent_type(reagents, "1");
		reactants = get_display_reagent_type(reagents, reactants, "1");
		intermediaries = get_list_of_reagent_type(reagents, "2");
		intermediaries = get_display_reagent_type(reagents, intermediaries, "2");
		products = get_list_of_reagent_type(reagents, "3");
		products = get_display_reagent_type(reagents, products, "3");


		var main_str = "";
		for (var i in reactants) {
			var str = ["<tr>"
				,"<td>",reactants[i].reagent,"</td>"
				,"<td>",reactants[i].amount,"</td>"
				,"<td>",reactants[i].unit,"</td>"
				,"<td>",reactants[i].reagent_id,"</td>"
			,"</tr>"].join("");
			main_str += str;
		}

		$('#reactants').children('tr').each(function() {
			$(this).remove();
		});
		$('#reactants').append(main_str);

		main_str = "";
		for (var i in intermediaries) {
			var str = ["<tr>"
    			,"<td>",intermediaries[i].reagent,"</td>"
    			,"<td>",intermediaries[i].amount,"</td>"
    			,"<td>",intermediaries[i].unit,"</td>"
				,"<td>",intermediaries[i].reagent_id,"</td>"
			,"</tr>"].join("");
			main_str += str;
		}

		$('#intermediaries').children('tr').each(function() {
			$(this).remove();
		});
		$('#intermediaries').append(main_str);

		main_str = "";
		for (var i in products) {
			var str = ["<tr>"
				,"<td>",products[i].reagent,"</td>"
				,"<td>",products[i].amount,"</td>"
				,"<td>",products[i].unit,"</td>"
				,"<td>",products[i].reagent_id,"</td>"
			,"</tr>"].join("");
			main_str += str;
		}

		$('#products').children('tr').each(function() {
			$(this).remove();
		});
		$('#products').append(main_str);
	}

	window.onload = function() {
		update_visual_data();
		$('#steps').children('tr').each(function(index) {
			$(this).children('td').filter('.time').children('span').each(function() {
				if (steps[index].time_scaling != 0) {
					count_to[index + 1] = steps[index].time;
					time_total[index + 1] = 0;
					update_element[index + 1] = this;
					if (count_to[index + 1] != -1) {
						this.innerHTML = get_time_total(index + 1);
					}
				}
			});
		});
	};

	function timer(i) {
		var new_time = Date.now();
		var delta = new_time - last_time[i]; // milliseconds elapsed since start
		time_total[i] += delta;
		last_time[i] = new_time;
		console.log(Math.floor(time_total[i] / 100) / 10.0); // in seconds
		if (time_total[i] >= 1000 * count_to[i]) {
			clearInterval(timer_id[i]);
			time_total[i] = count_to[i] * 1000;
			running[i] = false;
		}
		update_element[i].innerHTML = get_time_total(i);
	}

	function pause(i) {
		clearInterval(timer_id[i]);
		running[i] = false;
	}

	function resume(i) {
		if (!running[i]) {
			last_time[i] = Date.now();
			pause(i);
			timer_id[i] = setInterval(timer, 100, i);
			running[i] = true;
		}
	}

	function reset(i) {
		time_total[i] = 0;
		pause(i);
		update_element[i].innerHTML = get_time_total(i);
	}

	function get_time_total(i) {
		return (count_to[i] - Math.floor(time_total[i] / 100) / 10.0).toFixed(1);
	}

</script>

<span>Category: <a href="/browse/{{ protocol.category.id }}/">{{ protocol.category }}</a></span><br>
<span>Title: {{ protocol.title }}</span><br>
<span>Description: {{ protocol.description }}</span><br>
<span>Author: <a href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a></span><br>
<span>Upload Date: {{ protocol.upload_date }}</span><br>
{% if protocol.previous_revision %}
<span><a href="/protocol/{{ protocol.previous_revision.id }}">Previous Revision</a></span><br>
{% endif %}

{% for next_protocol in next_protocols %}
<span><a href="/protocol/{{ next_protocol.id }}">Next Revision</a></span><br>
{% endfor %}

{% if text_reagents %}
<span>{{ text_reagents.reagents }}</span><br>
{% endif %}

<span>Rating: {{ protocol.get_average_ratings }} - {{ protocol.get_number_ratings }} ratings</span><br>
<span>Change log: {{ protocol.change_log }}</span><br>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Reactants</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Unit</th>
					<th>Reagent ID</th>
				</tr>
			</thead>
			<tbody id="reactants">
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Intermediaries</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Unit</th>
					<th>Reagent ID</th>
				</tr>
			</thead>
			<tbody id="intermediaries">
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Products</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Unit</th>
					<th>Reagent ID</th>
				</tr>
			</thead>
			<tbody id="products">
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Protocol data List</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Step Number</th>
					<th>Action</th>
					<th>Timing Scheme</th>
					<th>Time length</th>
					<th>Associated Reagents</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody id="steps">
				{% for protocol_step in protocol_steps %}
				<!-- make the rows of data all clickable -->
				<tr>
					<td>{{ protocol_step.step_number }}</td>
					<td class="action" data-step-num="{{ protocol_step.step_number }}">{{ protocol_step.action|safe }}</td>
					<td>{{ protocol_step.get_understandable_scaling_type }}</td>
					<td class="time"><span></span>
						{% if protocol_step.time != -1 %}
						<button onclick="pause({{ protocol_step.step_number }});">Pause timer</button>
						<button onclick="resume({{ protocol_step.step_number }});">Continue timer</button>
						<button onclick="reset({{ protocol_step.step_number }});">Reset timer</button>{% endif %}</td>
					<td class="reagents">
					{% for protocol_reagent in protocol_reagents %}
					{% if protocol_reagent.protocol_step == protocol_step %}
					<span><a href="/reagent/{{ protocol_reagent.id }}/">{{ protocol_reagent }}</a></span>
					{% if protocol_reagent.reagent_type == 1 %}
					- Reactant
					{% elif protocol_reagent.reagent_type == 2 %}
					- Intermediary
					{% else %}
					- Product
					{% endif %}<br>
					{% endif %}
					{% endfor %}
					</td>
					<td>
					{% for step_note in step_notes %}
					{% if step_note.protocol_step == protocol_step %}
					<span>{{ step_note.note }} - <a href="/user/{{ step_note.author.id }}/">{{ step_note.author }}</a></span><br>
					{% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% if protocol_reagents.count != 0 %}
<button onclick="multiply_everything(0.5);">Halve me please!</button>
<button onclick="multiply_everything(2);">Double me please!</button>
{% endif %}
{% endblock %}
