{% extends 'base.html' %}

{% block content %}

<script>
var reagents = [];
var steps = [];
{% for reagent in protocol_reagents %}
var single_reagent = {
	"number_in_step": {{ reagent.number_in_step }},
	"scaling_type": {{ reagent.scaling_type }},
	"amount": {{ reagent.amount }},
	"unit": "{{ reagent.unit }}",
	"significant_figures": {{ reagent.significant_figures }},
	"reagent": "{% if reagent.display_name == None %}{{ reagent.reagent }}{% else %}{{ reagent.display_name }}{% endif %}",
	"reagent_type": {{ reagent.reagent_type }},
	"protocol_step_number": {{ reagent.protocol_step_number }},
	"reagent_id": {{ reagent.reagent.id }},
	"preserve_units": {{ reagent.reagent.id }}
};
reagents.push(single_reagent);
{% endfor %}

{% for protocol_step in protocol_steps %}
var single_step = {
	"action": '{{ protocol_step.action|safe|linebreaks }}',
	"time": {{ protocol_step.time }},
	"time_scaling": {{ protocol_step.time_scaling }},
	"step_number": {{ protocol_step.step_number }},
};
//var javascript_single_reagent = JSON.parse(single_reagent);
steps.push(single_step);
{% endfor %}

var reactants;
var intermediaries;
var products;
var display_reactants;
var display_intermediaries;
var display_products;

var timer_id = [];
var last_time = [];
var time_total = [];
var running = [];
var count_to = [];
var update_element = [];

function multiply_everything(factor) {
	for (var reagent_num in reagents) {
		if (reagents[reagent_num].scaling_type == 3) {
			reagents[reagent_num].amount *= factor;
		}
	}
	reactants = get_list_of_reagent_type(reagents, "1");
	reactants = get_display_reagent_type(reagents, reactants, "1");
	intermediaries = get_list_of_reagent_type(reagents, "2");
	intermediaries = get_display_reagent_type(reagents, intermediaries, "2");
	products = get_list_of_reagent_type(reagents, "3");
	products = get_display_reagent_type(reagents, products, "3");
	for (var i = 1; i < time_total.length; i++) {
		if (steps[i - 1].time_scaling == 2) {
			count_to[i] *= factor;
			if (count_to[i] * 1000 < time_total[i]) {
				time_total[i] = count_to[i] * 1000;
			}
			update_element[i].innerHTML = get_time_total(i);
		}
	}
	update_visual_data();
}

function get_display_reagent_type(reagents, given_list, type) {
	for (var i in given_list) {
		for (var j in reagents) {
			if (reagents[j].reagent_type == type) {
				if (reagents[j].reagent_id == given_list[i].reagent_id) {
					if (reagents[j].unit == given_list[i].unit) {
						given_list[i].amount += reagents[j].amount;
						if (reagents[j].significant_figures >
							given_list[i].significant_figures) {

							given_list[i].significant_figures = reagents[j].significant_figures;
						}
					}
				}
			}
		}
	}
	return given_list;
}

function get_list_of_reagent_type(reagents, type) {
	var result = [];
	for (var reagent_num in reagents) {
		reagent = reagents[reagent_num];
		if (reagent.reagent_type == type) {
			var put_in = true;
			for (var i in result) {
				var temp = result[i];
				if (temp.reagent_id == reagent.reagent_id && temp.unit == reagent.unit) {
					put_in = false;
				}
			}
			if (put_in) {
				new_reagent = JSON.parse(JSON.stringify(reagent));
				new_reagent.amount = 0;
				result.push(new_reagent);
			}
		}
	}
	return result;
}

function update_visual_data() {
	$('.action').each(function() {
		step_num = Number($(this).attr('data-step-num'));
		$(this).find('span').filter('.reagent').each(function() {
			reagent_number = Number($(this).attr('data-reagent-number'));
			var correct_reagent = null;
			for (var reagent_num in reagents) {
				reagent = reagents[reagent_num];
				if (reagent.number_in_step == reagent_number && reagent.protocol_step_number == step_num) {
					correct_reagent = reagent;
					break;
				}
			}
			if (correct_reagent != null) {
				this.innerHTML = correct_reagent.amount.toPrecision(correct_reagent.significant_figures) + " " + correct_reagent.unit + " " + correct_reagent.reagent;
			}
			else {
				this.innerHTML = "ERROR";
			}
		});
	});


	reactants = get_list_of_reagent_type(reagents, "1");
	display_reactants = get_display_reagent_type(reagents, reactants, "1");
	intermediaries = get_list_of_reagent_type(reagents, "2");
	display_intermediaries = get_display_reagent_type(reagents, intermediaries, "2");
	products = get_list_of_reagent_type(reagents, "3");
	display_products = get_display_reagent_type(reagents, products, "3");


	var main_str = "";
	for (var i in display_reactants) {
		var str = ["<tr>"
		,"<td><div class='input-group'><input type='number' class='form-control reactant_control' value=",display_reactants[i].amount.toPrecision(display_reactants[i].significant_figures),"><div class='input-group-addon'>",reactants[i].unit,"</div>","</div></td>"
		,"<td><div class='fix-top-margin'>",display_reactants[i].reagent,"</div></td>"
		,"</tr>"].join("");
		main_str += str;
	}

	$('#reactants').html(main_str);

	main_str = "";
	for (var i in display_intermediaries) {
		var str = ["<tr>"
		,"<td><div class='input-group'><input type='number' class='form-control' value=",display_intermediaries[i].amount.toPrecision(display_intermediaries[i].significant_figures),"><div class='input-group-addon'>",intermediaries[i].unit,"</div>","</div></td>"
		,"<td class='fix-top-margin'>",display_intermediaries[i].reagent,"</div></td>"
		,"</tr>"].join("");
		main_str += str;
	}

	$('#intermediaries').html(main_str);

	main_str = "";
	for (var i in display_products) {
		var str = ["<tr>"
		,"<td><div class='input-group'><input type='number' class='form-control product_control' value=",display_products[i].amount.toPrecision(display_products[i].significant_figures),"><div class='input-group-addon'>",products[i].unit,"</div>","</div></td>"
		,"<td><div class='fix-top-margin'>",display_products[i].reagent,"</div></td>"
		,"</tr>"].join("");
		main_str += str;
	}

	$('#products').html(main_str);
}

function timer(i) {
	var new_time = Date.now();
	var delta = new_time - last_time[i]; // milliseconds elapsed since start
	time_total[i] += delta;
	last_time[i] = new_time;
	if (time_total[i] >= 1000 * count_to[i]) {
		clearInterval(timer_id[i]);
		time_total[i] = count_to[i] * 1000;
		running[i] = false;
		// SOUND ALARM HERE
		var audio = new Audio('/static/audio/buzz.mp3');
		audio.play();

	}
	update_element[i].innerHTML = get_time_total(i);
}

function pause(i) {
	$(update_element[i]).parent().find('.glyphicon-pause').hide();
	$(update_element[i]).parent().find('.glyphicon-play').show();
	clearInterval(timer_id[i]);
	running[i] = false;
}

function resume(i) {
	$(update_element[i]).parent().find('.glyphicon-pause').show();
	$(update_element[i]).parent().find('.glyphicon-play').hide();
	if (!running[i]) {
		last_time[i] = Date.now();
		clearInterval(timer_id[i]);
		timer_id[i] = setInterval(timer, 100, i);
		running[i] = true;
	}
}

function reset(i) {
	time_total[i] = 0;
	pause(i);
	update_element[i].innerHTML = get_time_total(i);
}

function get_time_total(i) {
	return moment().startOf('day')
		.milliseconds(count_to[i] * 1000 - time_total[i])
		.format('HH:mm:ss.S');
}

$(document).on('ready', function(){
	update_visual_data();
	$('.timer').each(function(index) {
		if (steps[index].time_scaling != 0 && steps[index].time != -1) {
			count_to[index + 1] = steps[index].time;
			time_total[index + 1] = 0;
			update_element[index + 1] = this;
			if (count_to[index + 1] != -1) {
				this.innerHTML = get_time_total(index + 1);
			}
		}
	});

	var move_size = $('.navbar-default').height() + $('#title_bar').height();
	$('#sidebar').affix({
		offset: {
			top: move_size - 50
		}
	});
	var new_style = '<style>.affix { margin-top: -' + (move_size - 50).toString() + 'px; }</style>';
	$(new_style).appendTo('body');

	$('.input-2').rating({
		{% if not user.is_authenticated%}
		displayOnly: true,
		{% elif user_rating != None %}
		value: {{ user_rating.score }},
		{% endif %}
	}).on('rating.change', function(event, value, caption) {
		$.ajax({
			type: "POST",
			url: "/rating/",
			data: $('#inline-form').serialize() + '&NewValue=' + value,
			success: function(data){
				if (data.success){
					console.log("it worked")
				}
				else {
					alert("You're rating was unable to submit.")
				}
			},
			failure: function(){
				alert("Issue connecting to the server to send rating.")
			}
		});
	});

	$('#comment').submit(function(e) {
		e.preventDefault();
		$.ajax({
			type: "POST",
			url: "/submitcomment/",
			data: $('#comment').serialize(),
			success: function(){
				console.log("it worked2")
			},
			failure: function(){
				console.log("it failed")
			}
		})
		.success(function(data) {
			$('#all_comments>div').prepend(data);
			$('[name="comment"]').val('');
		})
		.fail(function() {
			alert("An error occured when submitting your comment");
		});
	});

	$('#recalc_reactants').on('click', function() {
		// limiting reagent calc
		display_reactants = JSON.parse(JSON.stringify(display_reactants))

		$('.reactant_control').each(function(index) {
			display_reactants[index].amount = parseFloat($(this).val());
		});
		var variable_list = [];
		for (var i = 0; i < reactants.length; i++) {
			if (reactants[i].scaling_type < 3) {
				// when it is constant, subtract the amount
				for (var j = 0; j < display_reactants.length; j++) {
					if (reactants[j].reagent_id == display_reactants[i].reagent_id
						&& reactants[j].unit == display_reactants[i].unit) {

						display_reactants[i].amount -= reactants[i].amount;
					}
				}
				var copy_of = JSON.parse(JSON.stringify(reactants[i]));
				copy_of.amount = 0;
				variable_list.push(copy_of);
			}
			else {
				variable_list.push(reactants[i]);
				console.log(reactants[i])
			}
		}
		temp_list = get_list_of_reagent_type(variable_list, "3");
		variable_list = get_display_reagent_type(temp_list, variable_list, "3");
		console.log(display_reactants)
		console.log("----------------")
		console.log(variable_list)
		var min_batch = null;
		var limiter = -1;
		var all_constant = true;
		for (var i = 0; i < variable_list.length; i++) {
			if (variable_list[i].amount != 0) {
				all_constant = false;
				var current_batch = display_reactants[i].amount / variable_list[i].amount;
				if (min_batch == null || current_batch < min_batch) {
					min_batch = current_batch;
					limiter = i;
				}
			}
		}
		console.log(min_batch);
		if (min_batch > 0 && !all_constant) {
			multiply_everything(min_batch);
		}
		else {
			alert("Everything is constant or you don't have enough materials")
		}
		
	});
	$('#recalc_products').on('click', function() {
		// batch calc
		display_products = JSON.parse(JSON.stringify(display_products))

		$('.product_control').each(function(index) {
			display_products[index].amount = parseFloat($(this).val());
		});
		var variable_list = [];
		for (var i = 0; i < products.length; i++) {
			if (products[i].scaling_type < 3) {
				// when it is constant, subtract the amount
				for (var j = 0; j < display_products.length; j++) {
					if (products[j].reagent_id == display_products[i].reagent_id
						&& products[j].unit == display_products[i].unit) {

						display_products[i].amount -= products[i].amount;
					}
				}
				var copy_of = JSON.parse(JSON.stringify(products[i]));
				copy_of.amount = 0;
				variable_list.push(copy_of);
			}
			else {
				variable_list.push(products[i]);
				console.log(products[i])
			}
		}
		temp_list = get_list_of_reagent_type(variable_list, "3");
		variable_list = get_display_reagent_type(temp_list, variable_list, "3");
		console.log(display_products)
		console.log("----------------")
		console.log(variable_list)
		var max_batch = -1;
		var limiter = -1;
		var all_constant = true;
		for (var i = 0; i < variable_list.length; i++) {
			if (variable_list[i].amount != 0) {
				all_constant = false;
				var current_batch = display_products[i].amount / variable_list[i].amount;
				if (current_batch > max_batch) {
					max_batch = current_batch;
					limiter = i;
				}
			}
		}
		console.log(max_batch);
		if (max_batch > 0 && !all_constant) {
			multiply_everything(max_batch);
		}
		else {
			alert("Everything is constant or you don't have enough materials")
		}
	});
});

$(document).on('ready', function() {
	$('.waypoint').each(function() {
		$(this).waypoint(function(direction) {
			NavbarActivator(this);
		}, {
			offset: $('.navbar-default').height() + 10
		});
	})
	$('.waypoint').each(function() {
		$(this).waypoint(function(direction) {
			NavbarActivator(this);
		}, {
			offset: $('.navbar-default').height()
		});
	})
});

function NavbarActivator(moved_item) {
	if ($('#sidebar').parent().is(':visible')) {
		var first_id = $(moved_item).attr('id');
		$('[data-id="' + first_id + '"]').addClass('active');
		var parent_data = $('[data-id="' + first_id + '"]').attr('data-parent');
		var list_parents = [];
		while (parent_data != "") {
			var parent = $('[data-id="' + parent_data + '"]');
			list_parents.push(parent);
			var parent_data = parent.attr('data-parent');
		}
		$('.left_navbar_li:not([data-id="' + first_id + '"])').removeClass('active');
		for (var i = 0; i < list_parents.length; i++) {
			list_parents[i].addClass('active');
		}
	}
}

{% if user_rating != None %}
$(document).on('ready', function() {
	$('div.rating').find('.filled-stars').find('.glyphicon').addClass('user-rated');
	console.log('ran')
});
{% endif %}
</script>
<style>
.protocol_title{
	/*background-color:#CCC;
	Change this*/
}
.protocol-author-picture {
	padding: 0px;
	margin-right: 15px;
	width: 90px;
}
.star {
	margin-left: 1.5px !important;
	margin-right: 1.5px !important;
}
.star > i {
	font-size: 14px;
}
.left-side-ratings {
	margin-top:-15px;
	height:40px;
}
.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 2.856em;
}
.no-side-margins {
	margin-left: 0px;
	margin-right: 0px;
}

h5{
	color:inherit;
}
.panel-group {
	margin-bottom: 0px;
}
.comment-picture {
	width: 75px;
	height: 75px;

}
.comment-picture-div {
	padding-right: 15px;
	float: left;
}
.comment-div {
	margin-top: 15px;
	padding-top: 15px;
	border-style: none;
	border-top-color: lightgray;
	border-width: 1px;
	border-top-style: solid;
}
#comments {
	margin-bottom: 7.5px;
}
#all_comments {
	margin-bottom: 15px;
}

.left_navbar>li.active>a, .left_navbar>li.active>a:focus, .left_navbar>li.active>a:hover {
	font-weight: 700;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c;
	padding-left: 13px;
}
.left_navbar>li>a, .left_navbar>li>a:focus {
	border-radius: 0px;
	background-color: transparent;
}
.nav>li {
	position: relative;
	display: block;
}
.left_navbar>li>a:hover {
	background-color: transparent;
	border-left: 1px solid #563d7c;
	padding-left: 14px;
	color: #563d7c;
}

.nav>li>a {
	color: #00274c;
}

.layer>li>a, .layer>li>a:focus {
	padding-left: 28px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	background: transparent;
}
.layer>li>a:hover {
	background-color: transparent;
	border-left: 1px solid #563d7c;
	padding-left: 27px;
}

.layer>li.active>a, .layer>li.active>a:focus, .layer>li.active>a:hover {
	font-weight: 700;
	color: #563d7c;
	border-left: 2px solid #563d7c;
	padding-left: 26px;
	background-color: transparent;
}
.nav-stacked>li+li {
	margin-top: 0px;
}

.mouse-pointer {
	cursor: pointer;
}

#comment-submit-div {
	margin-top: 15px;
}
#comment-submit-picture-div {
	float: left;
	padding-right: 15px;
}
#description-content {
	height:250px;
	overflow-y:scroll;
}
textarea[name=comment] {
	resize: none;
	height: 75px;
}
#comment-submit-text-div {
	margin-left: 95px;
}
#fork {
	color: black;
}
.fix-top-margin {
	margin-top: 6px;
}
.reagent_header {
	display: inline-block;
}
.apply_changes_btn {
	margin-top: 2.5px;
}
.user-rated {
	color: red;
}

.panel-heading.waypoint {
	background-color: #00274c;
}

.no-radius {
	border-radius: 0px!important;
}

</style>

<div class="col-sm-12">
	<div class="panel panel-default">
		<div id="title_bar" class="row protocol_title">
			<div class="col-sm-8 fix-margin-left">
				<h1>{{ protocol.title }}</h1>
				<h5 class="text-muted">{{ protocol.upload_date }}</h5>
				<h5 class="visible-xs">Uploaded by <a href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a></h5>
				<form id="inline-form" method="POST" action="/ratings/" class="center-block left-side-ratings visible-xs">
					<input id="input-2" name="input-2" value="{%if protocol.get_average_ratings == "N/A"%}0{%else%}{{ protocol.get_average_ratings }}{%endif%}" class="rating-loading input-2" data-size="xs" data-step="1" data-show-caption="false" data-show-clear="false">
					<input id="id" name='id' type="hidden" value="{{protocol.id}}">
					{% csrf_token %}
					<label style="position:relative;top:-27px;left:87px"> - {{ protocol.get_number_ratings }} ratings</label>
				</form>
				<h5>Category: <a href="/browse/{{ protocol.category.id }}/">{{ protocol.category }}</a></h5>
				<a href="/upload/{{protocol.id}}">
					<i class="fa fa-code-fork" id="fork"></i>
				</a>
			</div>
			<div class="col-sm-2 hidden-xs protocol-author-picture fix-margin-top pull-right">
				<a href="/user/{{ protocol.author.id }}/">
					{% if protocol.author.profile_image != "" %}
					<img src="{{ protocol.author.profile_image.url }}" width=75 height=75 alt="Image not found" class="img-circle center-block"/>
					{% else %}
					<img src="http://2014.igem.org/wiki/images/thumb/0/04/ChrisP.jpg/330px-ChrisP.jpg.png" width=75 height=75 alt="Image not found" class="img-circle center-block"/>
					{% endif %}
				</a>
				<h5 style="text-align:center;"><a href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a></h5>
				<form id="inline-form" method="POST" action="/ratings/" class="center-block" style="margin-top:-15px">
					<input id="input-2" name="input-2" value="{% if user_rating == None %}{%if protocol.get_average_ratings == "N/A"%}0{%else%}{{ protocol.get_average_ratings }}{% endif %}{% else %}{{ user_rating.score }}{% endif %}" class="rating-loading input-2" data-size="xs" data-step="1" data-show-caption="false" data-show-clear="false">
					<input id="id" name='id' type="hidden" value="{{protocol.id}}">
					{% csrf_token %}
				</form>
				<h2 class="small" style="text-align:center;margin-top:0px;">{{ protocol.get_number_ratings }} ratings</h2>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-2 hidden-xs">
	<div class="bs-sidebar affix" id="sidebar">
		<ul class="nav nav-pills nav-stacked left_navbar">
			<li class="left_navbar_li" data-id="description-tabs" data-parent=""><a href="#description-tabs" class="page-scroll-protocol">Description</a></li>
			<li class="left_navbar_li" data-id="Procedure" data-parent="">
				<a href="#Procedure" class="page-scroll-protocol">Procedure</a>
				<ul class="left_navbar_li nav layer">
					{% for protocol_step in protocol_steps%}
					<li class="left_navbar_li" data-id="step{{ protocol_step.step_number }}" data-parent="Procedure"><a href="#step{{ protocol_step.step_number }}" class="page-scroll-protocol">Step {{ protocol_step.step_number }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<li class="left_navbar_li" data-id="comments" data-parent=""><a href="#comments" class="page-scroll-protocol">Comment</a></li>
		</ul>
	</div>
</div>



<div class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="description-tabs" class="col-sm-12 waypoint">
			<div class="panel panel-primary">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#Description">Description</a></li>
					<li><a data-toggle="tab" href="#Reagents">Materials</a></li>
					<li><a data-toggle="tab" href="#Changelog">Change log</a></li>
				</ul>

				<!-- TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO TODO  -->
				<!-- TODO TODO TODO TODO maybe destroy waypoints and remake them on button click TODO TODO TODO TODO -->
				<div class="panel-body" id="description-content">
					<div class="tab-content">
						<div id="Description" class="tab-pane fade in active">
							<p>{{ protocol.description|safe }}</p><br>
						</div>
						<div id="Reagents" class="tab-pane fade">
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<h4 class="reagent_header">Reactants</h4>
									<div class="btn-group inline pull-right apply_changes_btn">
										<button class="btn" id="recalc_reactants">Apply Reactants</button>
									</div>
									<table class="table table-hover">
										<thead>
										</thead>
										<tbody id="reactants">
										</tbody>
									</table>
								</div>
								<div class="col-sm-6 col-xs-12">
									<h4 class="reagent_header">Products</h4>
									<div class="btn-group inline pull-right apply_changes_btn">
										<button class="btn" id="recalc_products">Apply Products</button>
									</div>
									<table class="table table-hover">
										<thead>
										</thead>
										<tbody id="products">
										</tbody>
									</table>
								</div>
								<div class="col-sm-12" style="margin-top:15px;">
									{% if protocol_reagents.count != 0 %}
									<button onclick="multiply_everything(0.5);">Halve me please!</button>
									<button onclick="multiply_everything(2);">Double me please!</button>
									{% endif %}
								</div>
							</div>
							<!--h3>Intermediaries</h3><table class="table table-hover"><thead><tr><th>Name</th><th>Amount</th><th>Reagent ID</th></tr></thead><tbody id="intermediaries"></tbody></table-->
						</div>

						<div id="Changelog" class="tab-pane fade">
							{{ protocol.change_log|safe }}<br><br>
							{% if protocol.previous_revision %}
							<a href="/protocol/{{ protocol.previous_revision.id }}">Previous Revision</a><br>
							{% endif %}
							{% for next_protocol in next_protocols %}
							<a href="/protocol/{{ next_protocol.id }}">Next Revision</a><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading waypoint" id="Procedure">Procedure</div>
				<div class="panel-group">
					{% for protocol_step in protocol_steps %}
					<div id="step{{ protocol_step.step_number }}" class="panel panel-default waypoint step">
						<!-- Modified margin to get rid of negative margin inherent to row -->
						<div class="row panel-heading no-side-margins">
							<h3 class="panel-title col-xs-6" style="padding-left:0px;">Step {{ protocol_step.step_number }}</h3>
							<div class="col-xs-6" align="right">
								<span class="timer"></span>
								{% if protocol_step.time != -1 %}
								<!-- Need to modify javascript to display actual time -->
								<span onclick="pause({{ protocol_step.step_number }});" style="display:none;" class="glyphicon glyphicon-pause mouse-pointer"></span>
								<span onclick="resume({{ protocol_step.step_number }});" class="glyphicon glyphicon-play mouse-pointer"></span>
								<span onclick="reset({{ protocol_step.step_number }});" class="glyphicon glyphicon-fast-backward mouse-pointer"></span>
								{% endif %}
							</div>
						</div>
						<!-- Modify Javascript to include reagents with each step -->
						<div class="panel-body action" data-step-num="{{ protocol_step.step_number }}">{{ protocol_step.action|safe }}</div>
						{% if protocol_step.warning != "" %}
						<div class="panel panel-danger no-radius">
							<!-- Want to get rid of defualt border radius -->
							<div class="panel-heading">
								<h3 class="panel-title">Warning!</h3>
								{{ protocol_step.warning|safe }}
								<!-- Include Warning data field with each step -->
							</div>
						</div>
						{% endif %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div id="comments" class="col-sm-12 waypoint">
			<div class="row">
				{% if current_profile_info != None %}
				<form action="/submitcomment/" method="POST" id="comment">
					<div class="col-sm-12">
						<div id="comment-submit-picture-div">
							{% if current_profile_info.profile_image != "" %}
							<img id="comment-submit-picture" src="{{ current_profile_info.profile_image.url }}" width=75 height=75 alt="Image not found" class="img-rounded"/>
							{% else %}
							<img id="comment-submit-picture" src="http://2014.igem.org/wiki/images/thumb/0/04/ChrisP.jpg/330px-ChrisP.jpg.png" width=45 height=45 alt="Image not found" class="img-rounded"/>
							{% endif %}
						</div>
						<div id="comment-submit-text-div">
							<textarea name="comment" class="form-control" placeholder="Add a comment"></textarea>
						</div>
					</div>
					<div class="col-sm-12" id="comment-submit-div" style="margin-top:15px;">
						<input type="submit" class="form-control" value="Post">
					</div>
					<input name="protocol_id" type="hidden" value="{{protocol.id}}">
					{% csrf_token %}
				</form>
				{% else %}
				<p style="text-align:center;font-size:24px;">Sign in to comment on any protocol!</p>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row" id="all_comments">
		<div>
			{% for comment in comments %}
			{% include 'repeated_parts/comment.html' %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
