{% extends 'base.html' %}

 {% block content %}

<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-12 padded" style="text-align: center">
			<h2>{{ reagent.name }}</h2>
			<h4>{{ reagent.website|urlize }}</h4>
		</div>
	</div>
	{% if reagent.description != "" %} {{ reagent.description|safe }} {% else %}
	<h5 style="text-align:left">Looks like no one has written a description yet.<br></h5>
	{% endif%}

	<a href="/editreagent/{{reagent.id}}" class="btn btn-primary" role="button">
		Edit this reagent</a>
	<br>t</a>
	<br>

	<h4>This is for <span id="hovercard">Salt</span> and nothing else</h4>

</div>


<div class="card"></div>
<div class = "triangle"></div>

{% include 'repeated_parts/hovercard.html' %}
{% endblock %}

<!--
<div class = "btn-group inline pull-right apply_changes_btn"> == $0
<button class = "btn" id = "edit_reactants"> Edit this reagent </button>
