{% extends 'base.html' %}

{% block content %}

<style>
.protocol-author-picture {
	padding: 0px;
	margin-right: 15px;
	width: 90px;
}
</style>

{% for protocol in results %}
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 well well-sm" onclick="location.href='/protocol/{{ protocol.id }}/'">
		<div class="row">
			<div class="col-sm-10 fix-margin-left">
				<h1>{{ protocol.title }}</h1>
				<h5>Category: <a href="/browse/{{ protocol.category.id }}/">{{ protocol.category }}</a> </h5>
				<h5>Created by <a href="/user/{{ protocol.author.id }}/">{{ protocol.author }}</a> </h5>
				<h5>Uploaded on {{ protocol.upload_date }}</h5>
				<h5>{{ protocol.get_average_ratings }}/5 - {{ protocol.get_number_ratings }} ratings</h5>
			</div>
			<div class="col-sm-2 hidden-xs protocol-author-picture fix-margin-top ull-right">
				<img src="{{ protocol.author.profile_image.url }}" width=75 height=75 alt="Image not found" class="img-circle"/>
			</div>
			<form role="search" method="POST" action="/ratings/">
				<input type="number" name="your_awesome_parameter" id="some_id" class="rating"/>
				{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endfor %}


{% endblock %}
