{% extends 'base.html' %}

{% block content %}

<script>
jQuery.fn.cssNumber = function(prop){
	var v = parseInt(this.css(prop),10);
	return isNaN(v) ? 0 : v;
};

function tinymce_byname(name_of) {
	name_of = '[name="' + name_of + '"]';
	tinymce.init({
		selector: name_of,
		height: 250,
		convert_fonts_to_spans : true,
		body_class: 'mce-class',
		theme: 'modern',
		plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
		],
		toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media',
		image_advtab: true,
		content_css: [
			'/static/css/tinymce-styling.css',
			'//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
		],
		menubar:false,
		statusbar: false,
	});
}


function prep_everything(textbox_class) {
	textbox_class = '.' + textbox_class;
	tinymce.init({
		selector: textbox_class,
		height: 250,
		convert_fonts_to_spans : true,
		body_class: 'mce-class',
		theme: 'modern',
		plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
		],
		toolbar1: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media',
		image_advtab: true,
		content_css: [
			'/static/css/tinymce-styling.css',
			'//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
		],
		menubar:false,
		statusbar: false,
	});
}

new_name = {{ protocol.num_steps }};

function add_step() {
	var last_element = null;
	var max = -1;
	$('#form').children('.individual-step:visible').each(function() {
		this_value = parseInt($(this).find('.step-number').val());
		console.log("This val: " + this_value)
		if (this_value > max) {
			max = this_value;
			last_element = $(this);
		}
	});

	var clicking_div = $(this).parent().parent().parent().parent().parent();
	//console.log(clicking_div);

	if (max == -1) {
		max = 0;
		last_element = $('#original_step');
	}
	if (!clicking_div.hasClass('individual-step')) {
		clicking_div = last_element;
	}

	//console.log(clicking_div);

	var new_number = parseInt($(clicking_div).find('.step-number').val()) + 1;
	console.log(new_number)
	temp_name = 'step' + new_name;

	temp_item = $('#original_step').clone();
	temp_item.attr('id', temp_name);
	temp_item.find('[name="step[warning]"]').attr('name', temp_name + '[warning]');
	temp_item.find('[name="step[number]"]').attr('name', temp_name + '[number]').attr('value', new_number);
	temp_item.find('.previous-number').attr('value', new_name + 1);
	temp_item.find('[name="step[title]"]').attr('name', temp_name + '[title]');
	temp_item.find('[name="step[time]"]').attr('name', temp_name + '[time]');
	temp_item.find('[name="step[description]"]').attr('name', temp_name + '[description]');
	temp_item.find('.step').addClass(temp_name).removeClass('step');
	temp_item.find('.add_step').on('click', add_step);


	// Add onclick handler for removing a step
	temp_item.find('.remove_step').on('click', delete_step);

	// Put new step at the very end
	$(temp_item).insertAfter($('#step_holder').children('.individual-step').last()).show();

	// increase total number of steps to check in server
	new_name++;
	$('#number_to_check').attr('value', new_name);

	prep_everything(temp_name);

	// Add event handler for when the user wants to change the step order
	$(temp_item).find('.step-number').on("focusout", function() {
		rearrange(parseInt($(this).siblings('input').val()), parseInt($(this).val()), $(this).parent().parent().parent().parent().parent().parent());
	});
	disable_buttons();

	// After putting the item at the very end, change its position to the correct one
	rearrange(parseInt(temp_item.find('.previous-number').val()), parseInt(temp_item.find('.step-number').val()), temp_item);
}

//
function disable_buttons() {
	$('.remove_step').addClass('disabled').prop('disabled', true).delay(2000).queue(function(next){
		if ($('.remove_step').length != 2) {
			$('.remove_step').removeClass("disabled");
			$('.remove_step').prop('disabled', false)
			next();
		}
	});
	if ($('.add_step').length != 2) {
		$('.add_step').addClass('disabled').prop('disabled', true).delay(2000).queue(function(next){
			$('.add_step').removeClass("disabled");
			$('.add_step').prop('disabled', false)
			next();
		});
	}
}



function rearrange(num_from, num_to, moving) {
	if (num_from != num_to) {
		var total_height = 0;

		// Determine which direction the single object is going and how the others
		// are going to move around it
		if (num_from < num_to) {
			var other_direction = "-";
			var direction = "+";
		}
		else {
			var other_direction = "+";
			var direction = "-";
		}

		// Get every object that will need to move, change the number position of them,
		// and animate their movement
		moving_objects = $('.individual-step:visible')
		.filter(function(index) {
			var step_number = parseInt($(this).find('.previous-number').val());
			var boolean = (((step_number > num_from && step_number <= num_to) || (step_number < num_from && step_number >= num_to)) && $(this) != moving);
			return boolean;
		})
		.each(function() {
			var input = $(this).find('.step-number');
			var step_number = parseInt($(input).val());
			var new_step_number;
			if (num_from < num_to) {
				new_step_number = step_number - 1;
			}
			else {
				new_step_number = step_number + 1;
			}
			$(this).find('.step-number').val(new_step_number);
			$(this).find('.previous-number').val(new_step_number);

			total_height += $(this).outerHeight();
		})
		.animate({ top: other_direction + "=" + $(moving).outerHeight().toString() + "px" }, 0);

		// Move the single object however far it needs to be placed in the right position
		var how_far_down = total_height;
		$(moving)
		.animate({ top: direction + "=" + how_far_down.toString() + "px" }, 0)
		.find('.previous-number').val($(moving).find('.step-number').val());

		add_movement_effects($(moving));
		add_movement_effects(moving_objects);
	}
}

$(document).ready(function() {
	tinymce_byname('description');
	tinymce_byname('text-reagents');
	tinymce_byname('change-log');
	prep_everything('step');
	$('.individual-step:visible').find('.step-number').on("focusout", function() {
		rearrange(parseInt($(this).siblings('input').val()), parseInt($(this).val()), $(this).parent().parent().parent().parent().parent().parent());
	});

	$('.individual-step:visible').find('.add_step').on('click', add_step);

	// Add onclick handler for removing a step
	$('.individual-step:visible').find('.remove_step').on('click', delete_step);
	$('#number_to_check').attr('value', new_name);
});

// Add transparency for a total of 2 seconds (1 going in, 1 going out)
// Make the element unclickable during the move
function add_movement_effects(object) {
	$(object).addClass('translucent').addClass('cannot-click').delay(1000).queue(function(next){
		$(this).removeClass('translucent');
		next();
	})
	.delay(1000).queue(function(next){
		$(this).removeClass('cannot-click');
		next();
	});
}

function delete_step() {
	deleting_element = $(this).parent().parent().parent().parent().parent();
	deleting_val = parseInt($(deleting_element).find('.step-number').val());

	$('#step_holder').children('.individual-step:visible').each(function() {
		this_value = parseInt($(this).find('.step-number').val());
		console.log($(deleting_element))
		var is_before = $(deleting_element).prevAll().filter($(this)).length !== 0 && $(this).is(':visible');
		console.log(is_before)
		console.log(this_value)
		console.log(deleting_val)
		if (is_before && this_value > deleting_val) {
			$(this).find('.step-number').val(this_value - 1);
			$(this).find('.previous-number').val(this_value - 1);
			$(this).animate({ top: "-=" + $(deleting_element).outerHeight().toString() + "px" }, 0);
		}
		else if (!is_before && this_value < deleting_val) {
			$(this).animate({ top: "+=" + $(deleting_element).outerHeight().toString() + "px" }, 0);
		}
		else if (this_value > deleting_val) {
			$(this).find('.step-number').val(this_value - 1);
			$(this).find('.previous-number').val(this_value - 1);
		}
		disable_buttons();
	});
	$(this).parent().parent().parent().parent().parent().remove();
}

var availableTags;
$( function() {
	availableTags = [ {% for category in categories%}"{{ category.title }}", {% endfor %}];
	$('[name="category"]').autocomplete({
		source: availableTags,
		delay: 100,
	});
});
</script>

<style>

.star {
	margin-left: 1.5px !important;
	margin-right: 1.5px !important;
}
.star > i {
	font-size: 14px;
}
.left-side-ratings {
	margin-top:-15px;
	height:40px;
}
.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 2.856em;
}

#pill-tab-heading {
	padding-bottom: 0px;
}

.mce-class {
	color:black;
}

.main-title {
	margin-bottom: 15px;
}

.make-padding-work {
	padding-left: 30px;
	padding-right: 30px;
}
.individual-step {
	position: relative;
	transition: top 2s, opacity 1s;
	top: 0px;
}
.translucent {
	opacity: 0.25;
}
.cannot-click {
	pointer-events: none;
}
</style>

<!-- MOVED TO TOP TO AVOID CHROME ERROR WHEN SUBMITTING EMPTY FORM -->
<div class="col-sm-10 col-sm-offset-1 individual-step" style="display: none;" id="original_step">
	<div class="row">
		<div class="col-sm-2">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group-lg">
						<label class="control-label" for="exampleInputName2">Step #</label>
						<input name="step[number]" type="number" min="1" step="1" class="form-control input-sm step-number" value="0" required="no">
						<input class="previous-number" type="hidden">
					</div>
				</div>
				<div class="col-xs-12" style="margin-top:15px;">
					<button type="button" class="btn add_step">Add step</button>
				</div>
				<div class="col-xs-12" style="margin-top:15px;margin-bottom:15px;">
					<button type="button" class="btn remove_step">Delete step</button>
				</div>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="panel">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading make-padding-work">
							<div class="form-group form-group-lg">
								<input class="form-control" name="step[title]" type="text" class="title" placeholder="Step Title">
							</div>
							<div class="form-group form-group-sm" style="margin-bottom:0px;">
								<input class="form-control input-sm" name="step[time]" min="0" step="1" type="number" class="time" placeholder="Amount of time in seconds (optional)">
							</div>
						</div>
						<div class="panel-body" style="padding-left:0px;padding-right:0px;">
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-2">
										<label for="inputEmail3" class="control-label" style="width:100%;">Additional Information</label>
									</div>
									<div class="col-sm-10 col-xs-12">
										<textarea class="step" name="step[description]">Body info for this step</textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body panel-danger" style="padding-left:0px;padding-right:0px;background-color:#f2dede;">
							<!-- Want to get rid of defualt border radius -->
							<div class="panel-heading">
								<div class="row">
									<div class="col-sm-2">
										<label for="inputEmail3" class="control-label" style="width:100%;">Warning</label>
									</div>
									<div class="col-sm-10 col-xs-12">
										<textarea class="step" name="step[warning]" rows="5" placeholder="Warning"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form method="POST" action="/submitprotocol/" class="form-horizontal" id="form" autocomplete="off">
	<div class="row protocol_title">
		<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 well well-sm">
			<div class="row">
				<div class="col-sm-12">
					<input type="text" class="form-control main-title input-lg" name="title" placeholder="Title" value="{{ protocol.title }}"/>
					<input type="text" class="form-control" name="category" placeholder="Category" value="{{ protocol.category }}"/>
					<input type="hidden" name="BranchFrom" value="{{ protocol.id }}">
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-primary">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#Description">Description</a></li>
				<li><a data-toggle="tab" href="#Reagents">Reagents</a></li>
				<li><a data-toggle="tab" href="#Changelog">Change log</a></li>
			</ul>

			<div class="panel-body">
				<div class="tab-content">
					<div id="Description" class="tab-pane fade in active">
						<textarea name="description">{{ protocol.description }}</textarea>
					</div>
					<div id="Reagents" class="tab-pane fade">
						<textarea name="text-reagents"></textarea>
					</div>
					<div id="Changelog" class="tab-pane fade">
						<textarea name="change-log"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="step_holder">
		<div class="individual-step"></div>
		{% for protocol_step in protocol_steps %}
		<div class="col-sm-10 col-sm-offset-1 individual-step" id="step{{ protocol_step.step_number|add:"-1"}}">
			<div class="row">
				<div class="col-sm-2">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group-lg">
								<label class="control-label" for="exampleInputName2">Step #</label>
								<input name="step{{protocol_step.step_number}}[number]" type="number" min="1" step="1" class="form-control input-sm step-number" value="{{ protocol_step.step_number }}">
								<input class="previous-number" type="hidden" value="{{ protocol_step.step_number }}">
							</div>
						</div>
						<div class="col-xs-12" style="margin-top:15px;">
							<button type="button" class="btn add_step">Add step</button>
						</div>
						<div class="col-xs-12" style="margin-top:15px;margin-bottom:15px;">
							<button type="button" class="btn remove_step">Delete step</button>
						</div>
					</div>
				</div>
				<div class="col-sm-10">
					<div class="panel">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading make-padding-work">
									<div class="form-group form-group-lg">
										<input class="form-control" name="step{{protocol_step.step_number}}[title]" type="text" class="title" placeholder="Step Title">
									</div>
									<div class="form-group form-group-sm" style="margin-bottom:0px;">
										<input class="form-control input-sm" name="step{{protocol_step.step_number}}[time]" min="0" step="1" type="number" class="time" placeholder="Amount of time in seconds (optional)" {% if protocol_step.time != -1%}value="{{protocol_step.time}}"{% endif %}>
									</div>
								</div>
								<div class="panel-body" style="padding-left:0px;padding-right:0px;">
									<div class="panel-heading">
										<div class="row">
											<div class="col-sm-2">
												<label for="inputEmail3" class="control-label" style="width:100%;">Additional Information</label>
											</div>
											<div class="col-sm-10 col-xs-12">
												<textarea class="step" name="step{{protocol_step.step_number}}[description]">{{ protocol_step.action|safe }}</textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-body panel-danger" style="padding-left:0px;padding-right:0px;background-color:#f2dede;">
									<!-- Want to get rid of defualt border radius -->
									<div class="panel-heading">
										<div class="row">
											<div class="col-sm-2">
												<label for="inputEmail3" class="control-label" style="width:100%;">Warning</label>
											</div>
											<div class="col-sm-10 col-xs-12">
												<textarea class="step" name="step{{protocol_step.step_number}}[warning]" rows="5" placeholder="Warning">{{ protocol_step.warning|safe }}</textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	{% csrf_token %}

	<input type="hidden" name="number_to_check" id="number_to_check"/>

	<div class="col-sm-10 col-sm-offset-1">
		<button type="submit" class="btn btn-primary btn-block" style="margin-bottom:15px;">Submit Protocol</button>
	</div>

</form>
{% endblock %}
