<script>
$(document).ready(function(){
  
  $("button.reply").on("click", function(event){

    namenode = event.target.parentElement.getElementsByClassName('username_hidden')[0];

    var form = `<form method="post">
    <div class="form-group">
    {% csrf_token %}
    <b>Reply</b><br/>
    <textarea name="message" rows="5" cols="40"></textarea>
    <input type="hidden" value="${namenode.innerHTML}" name="recipient">
    <button type="submit" class="btn btn-default">Submit</button>
    </div></form>`;

    console.log(event.target.parentElement.parentElement.parentElement);
    var newForm = document.createElement("div");
    newForm.innerHTML = form;
    event.target.parentElement.parentElement.append(newForm);
    event.target.parentElement.removeChild(event.target);
  })
})
</script>
<div style="width:75%; margin:auto; font-size:2rem; padding-top:15px;">
  {% for message_chain in message_list %}
  <ul class="list-group">
    <li class="list-group-item">
      {% if message_chain.0.sender != me %}
      Messages with: <b>{{message_chain.0.sender}}</b>
      {% else %}
      Messages with: <b>{{message_chain.0.recipient}}</b>
      {% endif %}
      <ul>
        {% for message in message_chain %}
        <li>
          <div style="border-bottom:1px solid #aaa;">
            {% if message.recipient == me %}
            <span>From: <b>{{ message.sender }}</b></span>
            {% else %}
            <span>To: <b>{{ message.recipient }}</b></span>
            {% endif %}
            <button class="reply btn btn-primary btn-sm" style="float:right;margin-left:10px;">Reply</button>
            <div class="username_hidden" style="display: none;">
              {% if message_chain.0.sender != me %}
              {{message_chain.0.sender}}
              {% else %}
              {{message_chain.0.recipient}}
              {% endif %}
            </div>
            <span style="float:right;font-size:70%;line-height:35px">{{ message.timeSent }}</span>
          </div>
          <p style="padding-left:25px">{{ message.message }}</p>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {% endfor %}
</div>
