
<style>
    .hr-short{
        margin: 5px; 
    }
</style>

{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<hr class="hr-short">

{% for message in message_list %}
    <!--<div class="row">
        <div class="pull-left" style="width: 4%; padding-left:15px"><input type="checkbox" value=""></div>
        <!--<div class="col-xs-0"><input type="checkbox" value=""></div>-->
        <!--<div class="col-xs-2">{{message.sender.username}}</div>
        <div class="col-xs-5"> {{message.subject}}</div>
        <div class="col-xs-4 pull-right">{{message.timeSent}}</div>
    </div>-->

    <div>
        <p>from: {{message.sender}}
        <br>
        {{message.timeSent}}
        <br>
        <a href="{% url 'new_message' recip_name=message.sender.username %}">Reply</a>
        </p>
        <div style="border-left: 1px solid lightgrey; padding-left:10px">
            {{message.message | linebreaks}}
        </div>
    </div>



    <hr class="hr-short">
{% endfor %}

{% else %}
<p>Must be logged in</p>
{% endif %}
{% endblock %}