

{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<ul class="nav nav-tabs">

    {% if defaultTab == "new" %}
    <li><a data-toggle="pill" href="#inbox">Inbox</a></li>
    <li class="active"><a data-toggle="pill" href="#new">New Message</a></li>
    {% else %}
    <li class="active"><a data-toggle="pill" href="#inbox">Inbox</a></li>
    <li><a data-toggle="pill" href="#new">New Message</a></li>
    {% endif %}


</ul>

<div class="tab-content">
    
    {% if defaultTab == "new" %}
    
    <div id="inbox" class="tab-pane fade" style="width:100%">
    {% include 'protoChat/inbox.html' %}
    </div>
    <div id="new" class="tab-pane fade in active">
    {% include 'protoChat/new_message.html' %}
    </div>

    {% else %}

    <div id="inbox" class="tab-pane fade in active" style="width:100%">
    {% include 'protoChat/inbox.html' %}
    </div>
    <div id="new" class="tab-pane fade">
    {% include 'protoChat/new_message.html' %}
    </div>

    {% endif %}
</div>

{% endif %}
{% endblock %}
